<!DOCTYPE html>
<head>
    <meta charset=" utf-8">
    <title>Que3</title>
<script src="https://unpkg.com/vue"></script>
   
</head>
<body>
    <div id ="d1">
        
        <h1>Find Lenght of String</h1>
      
        <label>Name:</label>
        <input type="text" v-model="name" />
        
        <p>Entered Name is:{{name}}</p>
        <p>Length is:{{name.length}}</p>

      
                 
        <button @click="len()">count</button>

        <!-- <p v-for="(ch,x) in count">{{ch}}:{{x}}</p> -->
        
       
    </div>
        <script src = "./vuejs/sample.js"></script> 
</body>
</html>